@use './mixin' as mixin;
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px #0003;
  background-color: #9093994d;
}

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

#app {
  height: 100%;
  // 垂直渐变
  background-image: linear-gradient(to bottom, var(--setting-top), var(--setting-bottom));
}

.flex {
  display: flex;
}

.flexCenter {
  @include mixin.flexBox(null, center);
}

.flexCenterCenter {
  @include mixin.flexBox(center, center);
}

.flexSBCenter {
  @include mixin.flexBox(space-between, center);
}

.flexJustifyContent {
  @include mixin.flexBox(center);
}

.flexWrap {
  @include mixin.flexBox(space-between, center, wrap);
}

.pr10 {
  padding-right: 10px;
}

.pljh {
  padding-left: 6px;
}

.prjh {
  padding-right: 6px;
}

.pajh {
  padding: 6px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.right20 {
  margin-right: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.word_break_all {
  word-break: break-all;
}

.class_search_input {
  max-width: 260px;
}

.refresh-button {
  .el-icon {
    transform-origin: 50% 50%;
    transition: transform 0.2s ease;
    will-change: transform;
  }

  &.is-refreshing {
    .el-icon {
      animation: warehouse-refresh-spin 0.9s linear infinite;
    }
  }
}

@keyframes warehouse-refresh-spin {
  to {
    transform: rotate(360deg);
  }
}

// 操作和下拉列表
.operate_list_ul {
  li {
    @include mixin.flexBox(null, center);

    .iconfont {
      cursor: pointer;
    }

    .text {
      color: #4c5f79;
      padding-left: 6px;
    }
  }

}
